* {
  font-family: 'Libre Baskerville', serif;
}

:root {
  --primary-Background-Color: #010914;
  --secondary-Background-Color: #010914;
  --panel-Background-Color: #111A23;
  --primary-Button-Color: #8D58FE;
  --primary-Text-Color: #F1F1F3;
}

header {
  position: relative;
  height: 8rem;
  color: var(--primary-Text-Color);
  font-size: 2rem;
  background-color: #141a231d;

}

header h1
{
  position: relative;
  top: 30%;
  margin-left: 3%;
  }



body {
  background-color: #0d1013;
}


#redditContainer {
  float: left;
  margin: 3% 0% 3% 6%;
  width: 40%;
  height: 25rem;
  background-color: var(--panel-Background-Color);
}

.redditImage{
  width: 40vw;
  height: 20rem;
  background-color: #0109146b;
}

#nextButton {
  position: relative;
  top: 5%;
  left: 40%;
  background-color: var(--primary-Button-Color);
}

#recipeContainer {
  float: right;
  /* Margin Shorthand top, right, bottom, left */
  margin: 3% 6% 3% 0%;
  width: 40%;
  height: fit-content;
  background-color: var(--panel-Background-Color);
}

.control
{
  display: flex;
  margin: 3%;

}

#searchBar
{
  background-color: rgb(222, 218, 220);
  border-radius: 5px 0px 0px 5px;
}

#searchBar::placeholder
{
  color: #252525;
  opacity: 0.5;
}

#recipeButton{
  background-color: var(--primary-Button-Color);
  border-radius: 0px 5px 5px 0px;
}

     
#savedContainer{
  display: flex;
  position: relative;
  width: 100%;
  height: 10rem;
  background-color: var(--panel-Background-Color);
}

.savedRecipesTitle{
background-color: #0e151c;
width: 100%;
height: 2rem;
}

.savedRecipesTitle h4
{
  margin-left: 1%;
  color: var(--primary-Text-Color);
}



