* {
  font-family: 'Libre Baskerville', serif;
}

:root {
  --primary-Background-Color: #010913;
  --secondary-Background-Color: hsl(215, 90%, 4%);
  --panel-Background-Color: hsl(212, 30%, 15%);
  --primary-Button-Color: hsl(259, 99%, 67%);
  --button-Hover-Color: hsl(325, 62%, 58%);
  --primary-Text-Color: hsl(240, 8%, 95%);
}

header {
  display: flex;
  position: relative;
  height: 8rem;
  color: var(--primary-Text-Color);
  background-color: hsla(216, 27%, 20%, 0.114);

}

header h1 {
  position: relative;
  top: 30%;
  margin-left: 3%;
  font-size: 2rem;
}

header h2 {
  position: relative;
  top: 33%;
  margin-left: 3%;
  font-size: 15px;
}

body {
  background-color: var(--primary-Background-Color);
}

a:visited {
  color: var(--button-Hover-Color);
}

a:hover {
  color: var(--button-Hover-Color);
}

.cardRows {
  display: flex;
  position: relative;
  margin: 6%;
}

.cardRows h3 {
  color: var(--primary-Text-Color);
  text-align: center;
}

.cardRows h4 {
  position: relative;
  bottom: 90%;
  text-align: center;
  color: var(--primary-Text-Color);
}

.cardRows button {
  position: relative;
  bottom: 6rem;
  left: 2%;
  width: 95%;
}

#RedditSearchButton h4 {
  position: relative;
  bottom: 8rem;

}

#nextButton {
  background-color: var(--primary-Button-Color);
}

#nextButton:hover {
  background-color: var(--button-Hover-Color);

}

#redditContainer {
  float: left;
  width: 100%;
  margin-right: 6%;
  background-color: var(--panel-Background-Color);

}

#recipeContainer {
  float: right;
  text-align: left;
  width: 100%;

  padding: 2%;
  color: var(--primary-Text-Color);
  background-color: var(--panel-Background-Color);
}

#redditImage {
  position: relative;
  height: 100%;
  width: 100%;
}

#redditImage img {
  width: 100%;
  height: 70%;
}

#recipeContainer h6 {
  position: relative;
  top: 0%;
  font-size: 2em;
  margin-bottom: 2%;
}

#recipeContainer p {
  position: relative;
  top: 0%;
}

#recipeContainer a {
  position: relative;
  top: 1%;
}

#recipeContainer h4 {
  position: relative;
  top: 0%;
  width: 100%;
}

#recipeContainer button {
  background-color: var(--primary-Button-Color);
}

#control {
  display: flex;
  position: relative;
  right: 5%;
  top: 0%;
  width: 100%;
  margin: 3%;
}

#searchBar {
  position: relative;
  left: 1rem;
  background-color: rgb(222, 218, 220);
  border-radius: 5px 0px 0px 5px;
}

#searchBar::placeholder {
  color: #252525;
  opacity: 0.5;
}

#recipeButton {
  position: relative;
  bottom: 10%;
  width: 25%;
  background-color: var(--primary-Button-Color);
  border-radius: 0px 5px 5px 0px;
}

#recipeButton:hover {
  background-color: var(--button-Hover-Color);
}

#control #addRecipeButton {
  position: relative;
  left: 3%;
  bottom: 10%;
}

#savedContainer {
  /* display: flex; */
  position: relative;
  margin-top: 6%;
  margin-right: 5.5%;
  width: 100%;
  min-height: 10rem;
  height: fit-content;
  background-color: var(--panel-Background-Color);
}

#saveContainer {
  float: left;
  margin-top: 2rem;
  padding: 2% 0% 0% 2%;
  width: 100%;
  height: 100%;
}

#saveContainer li {
  color: var(--primary-Text-Color);
}

#saveContainer h6 {
  color: var(--primary-Text-Color);
}

#saveContainer a {
  display: flex;
  flex-wrap: nowrap;

}

#addRecipeButton {
  position: relative;
  left: 1rem;
  bottom: 3rem;

  width: 10vw;

}

#addRecipeButton:hover {
  background-color: var(--button-Hover-Color);
}

.savedRecipesTitle {

  width: 100%;
  height: 2rem;
}

.savedRecipesTitle h4 {
  margin-top: 1%;
  margin-left: 1%;

  color: var(--primary-Text-Color);
}

.savedRecipesTitle h5 {
  position: relative;
  bottom: 2vh;
  margin-top: 1vh;
  margin-left: 1%;

  color: var(--primary-Text-Color);
}

.savedRecipesTitle a {

  color: var(--primary-Button-Color);
}

hr {
  position: relative;
  width: 10rem;
  left: 1%;
  bottom: 1rem;
}

@media only screen and (min-width: 1400px) {

  .cardRows {
    position: relative;
    right: 2%;
  }

  #savedContainer {
    position: relative;
    left: 2%;
  }

}

@media only screen and (max-width: 735px) {

  .cardRows {
    display: flex;
    flex-direction: column;
  }

  #redditContainer {
    position: relative;
    min-height: 7rem;
    top: 5rem;
  }

  #redditContainer h4 {
    position: relative;
    top: 0.09em;
  }

  #redditContainer button {
    position: relative;
    bottom: 0vh;
  }

  #recipeContainer {
    position: relative;
    top: 6rem;
  }

  .control {
    position: relative;
    top: 3rem;
  }

  #savedContainer {
    visibility: hidden;
    /* position: relative;
    top: 7rem; */
  }

  #addRecipeButton {
    visibility: hidden;
  }
}