*{
  font-family: 'Libre Baskerville', serif;
}

:root{
  --primary-Background-Color: #010914;
  --secondary-Background-Color: #010914;
  --panel-Background-Color: #111A23;
  --primary-Button-Color: #8D58FE;
  --primary-Text-Color:#F1F1F3;
}

header
{
  position: relative;
  top: 3rem;
  text-align: center;
  color: var(--primary-Text-Color);
  font-size: 2rem;

}



body {
  position: relative;
  height: fit-content;

    background-image: linear-gradient(-90deg, #221F4C, #010914 );
   
  }
 

  .card
  {
  
   position: relative;
   top: 5rem;
   left: 3%;
   width: 45rem;
   border: 4px var(--primary-Text-Color) solid;
   border-radius: 10px;
  }



  .card-content
  {
    background-color: var(--panel-Background-Color);
    text-align: center;
  }

  #previous
  {
    background-color: var(--primary-Button-Color);
  }

  #next
  {
    background-color: var(--primary-Button-Color);
  }

  .RecipeContainer{
    position: relative;
    float: right;
    padding: 1rem;
    top: 5rem;
    right: 15%;
    width: 32vw;
    background-color: var(--panel-Background-Color);
    border: 4px var(--primary-Text-Color) solid;
    color: var(--primary-Text-Color);
    border-radius: 10px;
  }
  
  .control
  {
    margin-bottom: 5%;
    
  }

  #box::placeholder
  {
    color: var(--primary-Background-Color);
    opacity: 0.5;
  }

  #box
  {
    background-color: var(--primary-Text-Color);
    
  }

  @media only screen and (min-width: 1281px) {
    .RecipeContainer
    {
      position: relative;
      right: 8%;
    }
  }

  @media only screen and (max-width: 1280px) {
    .card {
      margin-left: 2rem;
      margin-bottom: 1rem;
      width: 88%;

     
    }
    .RecipeContainer{
      display: flex;
      float: right;
      
      width: 70%;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

    

  @media only screen and (max-width: 1024px) {
    .card {
      margin-left: 2rem;
      margin-bottom: 1rem;
      width: 88%;

     
    }
    .RecipeContainer{
      display: flex;
      width: 70%;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }


  @media only screen and (max-width: 768px) {
    .card {
      margin-left: 0.5rem;
      margin-bottom: 1rem;
      width: 88%;
    
     
    }
    .RecipeContainer{
      display: flex;
      width: 70%;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 480px) {
    .card {
      margin-left: 0.5rem;
      margin-bottom: 1rem;
      width: 88%;
    
     
    }
    .RecipeContainer{
      display: flex;
      width: 70%;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }